{% extends "base.html" %}

{% block javascript %}
{% include "dlist_js.html" %}
{% endblock javascript %}

{% block mainbody %}
<div class="row">
	<div class="col-md-8 col-md-offset-2" >
		<div class="tabbable" id="tabs-888938">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#fieldTab" data-toggle="tab" id="fieldTabLink">Field List</a>
				</li>
				<li>
					<a href="#sampleTab" data-toggle="tab" id="sampleTabLink">Sample List</a>
				</li>
				<li>
					<a href="#virusTab" data-toggle="tab" id="virusTabLink">Virus List</a>
				</li>
			</ul>
			<div class="tab-content">
				<!-- field tab -->
				<br />
				<div class="tab-pane active" id="fieldTab" style="min-height:550px;">
					<form class="form-inline" role="form">
						<div class="form-group">
							<label for="fCountry">Select Country:</label>
  							<select class="form-control" id="fCountry">
  							</select>
						</div>
					</form>
					<!-- field list -->
					<table id="fieldTable" class="table table-striped small">
        			  <thead><tr>
						<td><b>Country</b></td>
						<td><b>Filed No</b></td>
						<td><b>Region</b></td> 
						<td><b>Distract</b></td>
						<td><b>Locality</b></td>
						<td><b>Latitute</b></td>
						<td><b>Longitute</b></td>
						<td><b>Altitute</b></td>
						<td><b>Filed Size</b></td>
					  </tr></thead>
					  <tbody></tbody>
					</table>
					<!--<ul class="pagination">
						<li><a href="#" id=fprev>Prev</a></li>
						<li><a href="#" >2</a></li>
						<li><a href="#" >3</a></li>
						<li><a href="#" >4</a></li>
						<li><a href="#" id=fnext>Next</a></li>
					</ul>-->
				</div>

				<!-- sample tab -->
				<div class="tab-pane" id="sampleTab" style="min-height:550px;">
                    <!-- sample list -->
					<form class="form-inline" role="form">
						<div class="form-group">
                        	<label for="sCountry">Select Country:</label>
                        	<select class="form-control" id="sCountry">
                        	</select>
                    	</div>
					</form>
					<table id="sampleTable" class="table table-striped small">
        				<thead><tr>
						<td><b>Country</b></td>
						<td><b>Sample</b></td>
						<td><b>Date (DD/MM/YYYY)</b></td>
						<td><b>Age (month)</b></td>
						<td><b>Sample Image</b></td>
						<td><b>Leave Image</b></td>
						<td><b>Intercrop</b></td>
						<td><b>Cultivar</b></td>
						</tr></thead>
						<tbody></tbody>
					</table>

                    <!--<ul class="pagination">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>-->

				</div>

				<!-- virus tab -->
				<div class="tab-pane" id="virusTab" style="min-height:550px;">
                    <!-- virus list -->
					<form class="form-inline" role="form">
						<div class="form-group">
							<label for="vname">Select Virus:</label>
							<select class="form-control" id="vname">
							</select> OR
							<label for="vfamily">Select Family:</label>
							<select class="form-control" id="vfamily">
							</select>
						</div>
					</form>
					<table id="virusTable" class="table table-striped small">
					  <thead>
                        <tr>
                        <td><b>Country</b></td>
                        <td><b>Field</b></td>
						<td><b>Sample</b></td>
                        <td><b>Family</b></td>
						<td><b>Description</b></td>
                        </tr>
					  </thead>
					  <tbody></tbody>
                    </table>
                    <!--<ul class="pagination pagination-sm">
                        <li><a href="#" id="vprev">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" id="vnext">Next</a></li>
                    </ul>-->
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock mainbody %}

