<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAs8XAvF2CLHMosa7W2126k2qDfEonb6OQ&sensor=false"></script>
<script>
      var script = '<script type="text/javascript" src="/js/markerclusterer';
      if (document.location.search.indexOf('compiled') !== -1) {
        script += '_compiled';
      }
      script += '.js"><' + '/script>';
      document.write(script);
</script>
<script>
// init global vars
var geoList = [];	//field dataset
var virusList = [];	//virus dataset
var fmap;			//field map
var vmap;			//virus map
var fmarkers = [];	//field markers
var vmarkers = [];	//virus markers
var fmarkerCluster = {};	//field cluster
var vmarkerCluster = {};	//virus cluster
var fprev_infowindow = false;	//field info window
var vprev_infowindow = false;	//virus info window

// load data using ajax through django template
function load_data() {
	$.ajax({
		//url: '{{ dbURL }}',
		url: '/{{ SUB_FDR }}/geo_list/',
		async: false,
		dataType: 'json',
		success: function (data) {
			geoList = data;
		}
	});
}

function load_virus_data() {
    $.ajax({
        //url: '{{ dbURL }}',
        url: '/{{ SUB_FDR }}/virusjson/',
        async: false,
        dataType: 'json',
        success: function (data) {
            virusList = data;
        }
    });
}

// initialize map for field & sample
function initialize_field_map() {
	var myCenter=new google.maps.LatLng(0,18);
	var mapProp = {
		center:myCenter,
		zoom:3,
		mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	        	
	fmap=new google.maps.Map(document.getElementById("fieldMap"),mapProp);
	fmarkers = setMarkers(fmap, geoList);
	fmarkerCluster = new MarkerClusterer(fmap, fmarkers);
}

// initialize map for virus
function initialize_virus_map(sel_name) {
	var myCenter=new google.maps.LatLng(0,18);
	var mapProp = {
		center:myCenter,
		zoom:3,
		mapTypeId:google.maps.MapTypeId.ROADMAP
	};

	vmap=new google.maps.Map(document.getElementById("virusMap"),mapProp);
	vmarkers = setVirusMarkers(vmap, virusList, sel_name); 
	vmarkerCluster = new MarkerClusterer(vmap, vmarkers);
}

// update map for virus
function update_virus_map(sel_name) {
	for (var i = 0; i < vmarkers.length; i++) {
		vmarkers[i].setMap(null);
	}
	vmarkerCluster.clearMarkers();
	//vmarkerCluster = new MarkerClusterer(vmap, vmarkers);

	vmarkers = setVirusMarkers(vmap, virusList, sel_name);
	vmarkerClutser = new MarkerClusterer(vmap, vmarkers);
}

// set virus markers
function setVirusMarkers(map, virusList, sel_name) {
	var markers = [];
	var gps_uniq = {};
	for (var vid in virusList) {
		if (virusList[vid]['short'] == sel_name) {
			for (var i in virusList[vid]['sample']) {
				var sid = virusList[vid]['sample'][i][0];
				var fid = virusList[vid]['sample'][i][1];
				var lat = virusList[vid]['sample'][i][2];
				var lng = virusList[vid]['sample'][i][3];

				if (!(fid in gps_uniq)) {
					gps_uniq[fid] = {};
					gps_uniq[fid]['lat'] = lat;
					gps_uniq[fid]['lng'] = lng;
					gps_uniq[fid]['sample'] = {};
					gps_uniq[fid]['sample'][sid] = 1;
				} else {
					gps_uniq[fid]['sample'][sid] = 1;
				}
			}	
		}
	}

	for (var fid in gps_uniq) {
		var lat = gps_uniq[fid]['lat'];
		var lng = gps_uniq[fid]['lng'];
		var latlngset = new google.maps.LatLng(lat, lng);
		var marker = new google.maps.Marker({
			map: map,
			title: fid,
			position: latlngset
		});
		markers.push(marker);
		marker.setMap(map);

		//code for display field info in info window
		var sid_array = [];
		for (var sid in gps_uniq[fid]['sample']) { sid_array.push(sid);}
		var sid_char = sid_array.join();
		var fieldInfo = "Field ID: <a href=flist?fid="+fid+"&sid="+sid_char+"&vname="+ encodeURIComponent(sel_name) +">"+fid+"</a>";

		google.maps.event.addListener(marker,'click', ( function(marker, fieldInfo){ 
			return function() {
				if (vprev_infowindow) {
					vprev_infowindow.close();
				}
				var infowindow = new google.maps.InfoWindow({ content: fieldInfo});
				infowindow.open(map,marker);
				vprev_infowindow = infowindow;
			};
		}) (marker, fieldInfo));
	}
	return markers;
}

// set field markers
function setMarkers(map, geoList){
	var marker;
	var markers = [];
	for (var name in geoList) {
		var lat = geoList[name]['attr'][4];
		var lng = geoList[name]['attr'][3];
		var latlngset = new google.maps.LatLng(lat, lng);
 		var marker = new google.maps.Marker({  
          	map: map, 
			title: name, 
			position: latlngset
        	});
		markers.push(marker);
        marker.setMap(map);

		// code for display field info in info window
		var fieldInfo = "Field ID: <a href=flist?fid="+name+">"+name+"</a>";
			fieldInfo += "<br />Region: " + geoList[name]['attr'][0];
			fieldInfo += "<br />District: " + geoList[name]['attr'][1];
			fieldInfo += "<br />Locality: " + geoList[name]['attr'][2];
			fieldInfo += "<br />Size: " + geoList[name]['attr'][5];

		var sampleList = geoList[name]['samp'];
		google.maps.event.addListener(marker,'click', (function(marker, fieldInfo, sampleList){ 
        			return function() {
					if (fprev_infowindow) {
						fprev_infowindow.close();
					}	
					var infowindow = new google.maps.InfoWindow({ content: fieldInfo});
					infowindow.open(map,marker);
					fprev_infowindow = infowindow;
					
					// code for showing sample list
					/*var sampleTable = "";
						for(var i = 0; i < sampleList.length; i++) {
							sampleTable += "<p>Sample ID:" + sampleList[i][0];
							sampleTable += "<br />Cultivar:" + sampleList[i][6];
							sampleTable += "<br />Intercrop:" + sampleList[i][5];
							sampleTable += "<br />Date:" + sampleList[i][1];
							sampleTable += "<br />Age:" + sampleList[i][2];
							sampleTable += "<br />Image:" + sampleList[i][3];
							sampleTable += "<br />Leave:" + sampleList[i][4];
							sampleTable += "</p>";
						}
						$("#sampleTab").html(sampleTable);
						$("#fieldInfo").html(fieldInfo);
					*/
        			};
    	})(marker,fieldInfo, sampleList)); 
	}
	return markers;
}

$(function() {
	/* Load field & sample GPS and virus related GPS */
	load_data();
	load_virus_data();
	google.maps.event.addDomListener(window, 'load', initialize_field_map);

	/* generate selection form for virus name and family */
    var sel_vname_html = '';
    var sel_vfamily_html = "<option selected value=ALL>All</option>\n";
    var sel_vname_uniq = {};
    var sel_vfamily_uniq = {};
    for (var vid in virusList) {
        var sname = virusList[vid]['short'];
        var family = virusList[vid]['family'];
        if (!(sname in sel_vname_uniq)) {
            if (sname == 'Sweet potato leaf curl virus') {
                sel_vname_html = "<option selected value=\""+ sname + "\">" + sname + "</option>\n" + sel_vname_html;
            } else {
                sel_vname_html += "<option value=\""+ sname + "\">" + sname + "</option>\n";
            }
            sel_vname_uniq[sname] = sname;
        }

        if (!(family in sel_vfamily_uniq)) {
            sel_vfamily_html += "<option value=\""+ family + "\">" + family + "</option>\n";
            sel_vfamily_uniq[family] = family;
        }
    }
	sel_vname_html = "<select class=\"form-control input-sm\" id=\"vname\" style=\"height:26px;\">\n" + sel_vname_html + "</select>\n";

	// action for tab of virus map
	var sel_name = 'Sweet potato leaf curl virus';
    $('#virusMapLink').on('shown.bs.tab', function(e) {
		$('#vmapform').html(sel_vname_html);
		$('#vname').on('change', function(){
			sel_name = $('#vname').val();
			//update_virus_map(sel_name);
			initialize_virus_map(sel_name);
		});
        if( vmap == undefined) {
			initialize_virus_map(sel_name);
        }	
    });

})

</script>
