{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
{% include "flist_js.html" %}
{% endblock javascript %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4><b>Samples in field {{ fid }}</b></h4>
         <!--display sample list -->
        <table class="table table-striped">
        <tr>
        <th><b>Sample</b></td>
        <th><b>Date(DD/MM/YYYY)</b></td>
        <th><b>Age(month)</b></td>
        <th><b>Sameple Image</b></td>
        <th><b>Leave Image</b></td>
        <th><b>Intercrop</b></td>
        <th><b>Cultivar</b></td>
        </tr>
        {% for s in sample %}
        <tr>
        {% for e in s %}
          {% if forloop.counter0 == 0 %}
		 	{% if e in select %}
				<td><span class="glyphicon glyphicon-certificate"></span><a href="sinfo?sid={{ e }}" target=_blank><b>{{ e }}</b></a></td>	
			{% else %}
          		<td><a href="sinfo?sid={{ e }}" target=_blank>{{ e }}</a></td>
			{% endif %}
          {% elif forloop.counter0 == 3 or forloop.counter0 == 4 %}
          	<td>
            	{% for subpimg in e %}
                	<a href=# data-featherlight="{% static "images" %}/{{ prefix }}/{{ subpimg }}">{{ subpimg }}</a> 
            	{% endfor %}
          	</td>
		  {% elif forloop.counter0 == 7 %}
          {% else %}
            <td>{{ e }}</td>
          {% endif%}
        {% endfor %}
        </tr>
        {% endfor %}
        </table>
		{% if vname %}	
			<h5><span class="glyphicon glyphicon-certificate"></span>selected samples contain <b>{{ vname }}</b> </h5>
		{% endif %}
		<br />
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h4><b>Field ({{ fid }}) information</b></h4>
	
	{% if ERRMSG %}
		<div class="alert alert-dismissable alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4>
			Alert!
			</h4> <strong>Warning!</strong> {{ ERRMSG }}.
		</div>
	{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-2">
		
		<table class="table table-striped">
        <tr><td>Filed No.:</td> <td>{{ fid }}</td></tr>
        <tr><td>Region:</td>        <td>{{ region }}</td></tr>
        <tr><td>Distract:</td>      <td>{{ district }}</td></tr>
            <tr><td>Locality:</td>      <td>{{ locality }}</td></tr>
            <tr><td>Latitute:</td>  <td><span id=lat>{{ lat }}</span>&#176;</td></tr>
            <tr><td>Longitute:</td> <td><span id=lng>{{ lng }}</span>&deg;</td></tr>
            <tr><td>Altitute:</td>  <td>{{ alt }} m</td></tr>
            <tr><td>Filed Size:</td>    <td>{{ fsize }} m&sup2;</td></tr>
		</table>
	</div>

	<div class="col-md-5">
		<div class="tabbable" id="tabs-888938">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#fieldImage" data-toggle="tab">Field Image</a>
				</li>
				<li>
					<a href="#fieldMap" data-toggle="tab" id="fieldMapLink">Field Map</a>
				</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="fieldImage">
					{% for subimg in img %}
						{% if subimg %}
						<a href=# data-featherlight="{% static "images" %}/{{ prefix }}/{{ subimg }}"><img class="img-responsive img-rounded" src="{% static "images" %}/{{ prefix }}/{{ subimg }}"></a><br />
						{% else %}
						<div class="alert alert-dismissable alert-danger">
            				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<strong>Image is not available.</strong>
        				</div>
						{% endif %}
					{% endfor %}
				</div>
                <div class="tab-pane" id="fieldMap" style="height:300px;"> 
				</div>
            </div>
        </div>
	</div>
</div>
{% endblock mainbody %}

