{% extends "base.html" %}
{% load staticfiles %}

{% block mainbody %}

<div class=row>
	<div class="col-md-8 col-md-offset-2">
	<h2>Determining the Pan-African sweet potato virome: <small>understanding virus diversity, distribution and 
	evolution and their impacts on sweet potato production in Africa</small></h2>

<p align=justify>
Sweet potato is among the most important food crops in the world and an extremely important food crop for subsistence 
farmers in sub-Saharan Africa (SSA). It is grown throughout the African continent and currently around 34.5% of global 
sweet potato area is in Africa. One major limitation in sweet potato production is cultivar decline, mostly due to the 
cumulative effect of virus infection on this vegetatively propagated crop. Thus, viral diseases are considered a major 
limiting factor in sweet potato production worldwide, and particularly in SSA. The objective of this project is to <img src="{% static "img/production.png" %}" align=right>
evaluate a novel approach, deep sequencing of small RNAs from field-grown sweet potato samples collected throughout 
Africa, to systematically and efficiently identify known and novel virus genome sequences. A total of around 1750 
geo-referenced field-grown samples of sweet potato will be collected from more than ten countries in Africa. Small 
RNA populations of these samples will be prepared and sequenced using high throughput next-generation sequencing 
technology, and then assembled to identify known and novel sweet potato viruses.<br><br>

Food security remains a huge challenge for millions of Africans, particularly for those in sub-Saharan regions, who 
depend on agriculture for their subsistence. Emerging and reemerging pathogens, including many viruses, continue to 
cause devastating losses of food production in Africa. Current knowledge of crop viruses in Africa is limited and 
sporadic at best. Novel virus genome identification technology through deep sequencing of small RNA population is 
potentially applicable to continental surveys as its efficiency in virus identification has been proven with both 
greenhouse and field grown samples. This technology can then be applied to systematically determine the total virus 
genome sequences (virome) on a number of other major crop plants in Africa, e.g., maize, rice, tomato, bean, and cassava. 
Public availability of such information will provide the scientific community and government unprecedented possibilities 
to understand crop virus distribution in Africa, guide phytosanitory requirements, predict risks of future epidemics, and 
suggest regional disease management strategies. </p>

	<b>This project is funded by the <a href=http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=503285 target=_blank>NSF BREAD</a> program.</b>
	<br /> <br />
	</div>
</div>

{% endblock mainbody %}

