{% extends "base.html" %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h3 align=center>Links</h3>
	<div style="padding: 20px; height: 500px;">
		<ul>
			<li><a href=http://www.sweetpotatoknowledge.org/ target=_blank>Sweetpotato Knowledge Portal</a><br><br> </li>
			<li><a href=http://bti.cornell.edu target=_blank>Boyce Thpompson Institute for Plant Research (BTI)</a><br><br> </li>
			<li><a href=http://www.cipotato.org/ target=_blank>International Potato Center (CIP)</a><br><br> </li>
			<li><a href=http://bti.cornell.edu/education/internships/#PlantGenomeInternship target=_blank>BTI Plant Genome Outreach program</a><br><br> </li>
			<li><a href=http://www.ncbi.nlm.nih.gov/genomes/GenomesHome.cgi?taxid=10239 target=_blank>NCBI Viral Genomes Resource</a><br> </li>
		</ul>
	</div>
	</div>
</div>


{% endblock mainbody %}
