{% extends "base.html" %}
{% load staticfiles %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 align=center>Project Participants</h3>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h4><b><font color=brown>PIs</font></b></h4>
	</div>
</div>

<br/>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<address>
			<img src="{% static "img/Fei.png" %}"><br>
			<strong>Zhangjun Fei (PI)</strong><br>
  			Boyce Thompson Institute for Plant Research<br>
  			Cornell University<br>
  			Ithaca, NY 14853<br>
  			<a href=http://bti.cornell.edu/faculty/zhangjun-fei/ target=_blank>Lab website</a>
		</address>
    </div>
	<div class="col-md-3">
		<address>
			<img src="{% static "img/Kreuze.png" %}"><br>
			<strong>Jan Kreuze (co-PI)</strong> <br>
			International Potato Center (CIP)<br>
			Lima, Peru
		</address>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4><b><font color=brown>Collaborators</font></b></h4>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<b>Joseph Ndunguru</b><br>Mikocheni Agricultural Research Institute (MARI)<br>
Dar es Salaam, Tanzania<br>
	</div>
	<div class="col-md-3">
		<b>Marine Tachin</b><br>University d'abomey<br>
Calavi, Benin<br>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<b>Britta Kowalski</b><br>International Potato Center (CIP)-Angola<br>
Angola<br>
    </div>
	<div class="col-md-3">
		<b>Paul Demo</b><br>International Potato Center (CIP)-Malawi<br>
Malawi<br>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<b>Martin Chiona</b><br>National Agricultural Research Organization<br>
Zambia<br>
    </div>
    <div class="col-md-3">
		<b>Ian Robertson & Elizabeth Ngadze</b><br>University of Zimbabwe<br>
Harare, Zimbabwe<br>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<b>Douglas Miano</b><br>Kenya Agricultural Research Institute (KARI)<br>
Nairobi, Kenya <br>
    </div>
    <div class="col-md-3">
		<b>Settumba Mukasa</b><br>Makerere University<br>
Kampala, Uganda<br>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<b>Steffen Schulz</b><br>International Potato Center (CIP)-Ethiopia<br>
Ethiopia<br>
    </div>
    <div class="col-md-3">
    </div>
</div>

{% endblock mainbody %}
