{% extends "base.html" %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 align=center>Related Publication</h3>
		<div style="padding: 20px; height: 500px;">
		<ul>
		<li>Kreuze, J. (2015) <a href=http://link.springer.com/chapter/10.1007%2F978-94-017-9020-8_2 target=_blank>siRNA deep sequencing and assembly: piecing together viral infections.</a> In M.L. Gullino and P.J.M. Bonants (eds.), Detection and Diagnostics of Plant Pathogens, Plant Pathology in the 21st Century.5: 21-38</li></br>
		<li>Chen Y-R, Zheng Y, Liu B, Zhong S, Giovannoni J, Fei Z (2012) <a href=http://www.ncbi.nlm.nih.gov/pubmed/22995534 target=_blank>
A cost-effective method for Illumina small RNA-Seq library preparation using T4 RNA ligase 1 adenylated adapters.</a> Plant Methods 8:4</li><br>
		<li>Li R, Gao S, Hernandez AG, Wechter WP, Fei Z, Ling K-S (2012) <a href=http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0037127 target=_blank>
Deep sequencing of small RNAs in tomato for virus and viroid identification and strain differentiation.</a> PLoS ONE 7:e37127</li><br>
		<li>Kreuze JF, Perez A, Untiveros M, Quispe D, Fuentes S, Barker I, Simon R (2009) <a href=http://www.ncbi.nlm.nih.gov/pubmed/19394993 target=_blank>Complete viral 
genome sequence and discovery of novel viruses by deep sequencing of small RNAs: a generic method for diagnosis, discovery and sequencing of viruses.</a> Virology 
388:1-7</li>
		</ul>
		</div>
	</div>
</div>

<br />
<br />
{% endblock %}
