{% extends "base.html" %}
{% load staticfiles %}

{% block javascript %}
{% include "sample_js.html" %}
{% endblock javascript %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 align=center>Sample survey and collection</h3>
		<p>A total of twelve countries in sub-Saharan Africa (SSA) were selected for sweet potato sample 
survey and collection. Sweet potato production in these countries is low, mainly due to the virus infection on 
this vegetatively propagated crop. A summary of sample collection in these countries is provided in the table below:
		</p>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<table id="sampleStat" class="table table-striped">
		  <thead>
			<tr><th>Country</th><th>Total RNA samples</th><th>Sequenced</th><th>Unsequenced</th></tr>
		  </thead>
	      <tbody>	
		  </tbody>
		</table>

		<button type="button" class="btn btn-info pull-right">
			Return to sample statistics table
		</button>
		<table id="sampleList" class="table table-striped">
		  <thead>
			<tr><th>Country</th><th>Field</th><th>Sample</th><th>Sequenced Status</th></tr>
		  </thead>
		  <tbody>
          </tbody>
		</table>
		<button type="button" class="btn btn-info pull-right">
			Return to sample statistics table
		</button>
	</div>
</div>
<br />
<br />

{% endblock mainbody %}
